{% extends 'web_lib/main.html' %}


{% block content %}
    <div class="container">
        <h1> Books </h1>
        <a class="btn btn-sn btn-info" href="{% url 'create_book' %}">Создать книгу</a>
        <hr>
        {% if books%}
            {% for book in books %}
                <p>title: {{book.title}}</p>
                <p>description: {{book.description}}</p>
                <p>date: {{book.published|date:'DATE_FORMAT'}}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p>No books</p>
        {% endif %}
    </div>
{% endblock %}