{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB LIB</title>
    <link rel="stylesheet" href="{% static "web_lib/css/main.css" %}">
</head>

<body>

    <h1>Welcome to WEB LIB</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quaerat modi praesentium, nostrum atque explicabo deleniti
        delectus dolores ut eaque dolorum nam inventore nihil ad 
        eveniet est culpa? Reprehenderit, sunt dolorum!
    </p>

    
    <a href={% url 'about' %}>Show About</a>

    {% block content %}

    {% endblock %}

</body>
</html>